<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    *{
        margin: 0;
        padding: 0;
    }
    .heading{
        background-color: #f7b5c1;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
    padding: 1px;
    /* height: 14px; */
    margin: 0px 0px 22px;
    }
    .form-container{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .form-container form{
        width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 3px;
    /* border: 1px solid; */
    border-radius: 9px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    }

    .full-form{
        padding: 3rem;
    }
    .input-title{
        padding: 0px;
    margin: 0px;
    }
    .input-title label{
        font-size: 20px;
    padding: 0px 11px 0px 0px;
    }
    .input-title input{
        width: 239px;
    height: 32px;
    border-radius: 6px;
    padding: 0px 0px 0px 5px;
    }
    .input-textarea label{
        font-size: 20px;

    }
    .input-textarea textarea{
        width: 317px;
    height: 105px;
    padding: 4px;
    border-radius: 5px;
    }
    .full-form button{
        position: relative;
        top: 20px;
    left: 100px;
    width: 96px;
    text-align: center;
    height: 42px;
    border-radius: 10px;
    background-color: #f7b5c1;
    border: none;
    cursor: pointer;
    }
    .blog-full{
        display: flex;
    justify-content: center;
    padding: 24px;
    }
    .blog-section{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 24rem;
    height: auto;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    }
    .blog-form-section{
        display: flex;
    }
    .blog-container-section{
        display: flex;
    flex-direction: column;
    }
    .blog-real-ssection{
        display: flex;
        padding: 12px;
    }
    .blog-real-ssection h4{
        width: 237px;
    }
    .blog-real-ssection button{
        position: relative;
    top: -4px;
    left: 0px;
    width: 60px;
    text-align: center;
    height: 22px;
    border-radius: 10px;
    background-color: #f7b5c1;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 1px 0px 0px;
    }


</style>

<body>
    <div class="heading">
        <h2>CRUD Operation</h2>
    </div>
    <div class="form-container">
        <form action="/blog/post" method="post">
            <div class="full-form">
                <div class="input-title">
            <label for="username"> Title:</label>
            <input type="text" id="Title" name="Title" placeholder="Title" required>
        </div>
            <br>
            <div class="input-textarea">
            <label for="freeform">Blog Post:</label>
            <br>
            <textarea id="main_body" name="main_body" rows="4" cols="50"></textarea>
            <br>
        </div>
            <button type="submit">Post</button>
            </div>  
        </form>
    </div>

    <div class="blog-full">
        <div class="blog-section">
            <div class="blog-form-section">
        <h2>Blogs</h2>
        <form method="post" action="/getUser">
            <input type="text" id="title" name="title" />
            <button type="submit">Search</button>
        </form>
        </div>
        <div class="blog-container-section">
        <% if(results.length!=0){ %>
    <% results.forEach(function(result,i){ %>
        <div class="blog-real-ssection" style="flex-direction: column;">
            <div style="display: flex;">
        <h4>Title:<%= result.Title %>
        <br>
        Blog:<%= result.main_blog %>
        </h4>
        <br>
        <div style="display: flex; flex-direction: column;">
        <button class="editForm" style="display: block;" >Edit</button>
        <a href="/:<%=result.idposts%>/delete"><button>Delete</button></a>
        </div>
        </div>
        <br>
        <div id="displayEditForm" style="display: none;">
        <form method="post" action="/:<%= result.idposts %>/update">
            <label for="username"> Title:</label>
            <input type="text" id="Title" name="Title" placeholder="Title">
            <label for="freeform">Blog Post:</label>
            <br>
            <textarea id="main_blog" name="main_blog" rows="4" cols="50"></textarea>
            <br>
            <button type="submit">Edit</button>  
        </form>
    </div>
        <hr>
    </div>
    <% }) %>
    <% }else if(results.length===0) { %>
        <h3>No Blog</h3>
    <% } %>
        </div>
    </div>
    </div>
</body>
<script>
        const displayEditForm=document.getElementsByClassName('editForm')
        for(var i=0;i<displayEditForm.length;i++){
            displayEditForm[i].addEventListener('click',()=>{
                console.log('here');
                const editForm=document.getElementById('displayEditForm')
        if(editForm.style.display==="none"){
            editForm.style.display="block"
            // editForm.style.display="none"
        }else{
            editForm.style.display="none"
            // editForm.style.display="block"
        }
            })
        }
</script>
</html>